<div class="logo">
    <div class="vongline">vONgLINE</div>
    <div class="red"></div>
</div>
<div class="input">
    <ngx-monaco-editor [options]="options" [(ngModel)]="code" (onInit)="onInit($event)"></ngx-monaco-editor>
    <ngx-monaco-editor *ngIf="showMultiple" [options]="options" [(ngModel)]="code"></ngx-monaco-editor>
    <button (click)="sendSourceCode()">Compilieren</button>
    <button ng-model="button" *ngIf="compiled" (click)="execSourceCode()">Ausführen</button>
</div>
<div class="output">
    <pre>{{result}}</pre>
</div>
<div class="links">
  <a id="link-vongpiler" href="https://github.com/MastersOfDesaster/2k18-spec" name="2k18-spec" ng-click="2k18-spec" target="_blank">Syntax Github</a><br />
  <a id="link-vongpiler" href="https://github.com/MastersOfDesaster/Vongpiler" name="Vongpiler" ng-click="Vongpiler" target="_blank">Vongpiler Github</a><br />
  <a id="link-vongpiler" href="https://github.com/MastersOfDesaster/vONgLINE" name="vONgLINE" ng-click="vONgLINE" target="_blank">vONgLINE Github</a><br />
</div>
