<div class="logo">
    <div class="vongline">vONgLINE</div>
    <div class="red"></div>
</div>
<div class="input">
    <ngx-monaco-editor [options]="options" [(ngModel)]="code" (onInit)="onInit($event)"></ngx-monaco-editor>
    <ngx-monaco-editor *ngIf="showMultiple" [options]="options" [(ngModel)]="code"></ngx-monaco-editor>
    <button (click)="sendSourceCode()">Compilieren</button>
    <button ng-model="button" *ngIf="compiled" (click)="execSourceCode()">Ausführen</button>
</div>
<div class="output">
    <pre>{{result}}</pre>
</div>
